body{
    // background-color: orange;
}
// Theme color
$primary: #326dee;
$secondary: #1ac888;
$error: #d32752;
$info: #f5c31c;

// Spacing
$base-padding: 0.75rem;
$base-marging: 0.75rem;

// Borders
$base-border-thickness: 1px;
$base-border-radius: 20px;


h1 {
    color: $primary;
    margin-bottom: $base-marging;
}
h2{
    color: $secondary;
}

